@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base style for the entire application */
body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}